* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #fbf8f1;
  font-family: "PT Serif", serif;
  color: #f0f0f0;
}

.container {
  max-width: 1000px;
  height: 1400px;
  background-color: #3e497a;
  margin: 0 auto;
  padding: 20px;
}

.image {
  height: 200px;
  width: 200px;
  border: 3px solid white;
  border-radius: 50%;
  float: left;
}

.info {
  float: left;
  padding: 30px;
}

.infox {
  float: right;
  padding-top: 20px;
  color: #fdceb9;
}

.infox a {
  color: blanchedalmond;
  text-decoration: none;
}

.infox a:hover {
  color: wheat;
}

.div-clear {
  clear: both;
}

hr {
  border: solid wheat 2px;
  width: 100%;
  border-bottom: none;
  margin-top: 225px;
}

.personalinfox {
  float: left;
  padding: 50px;
}

.skills {
  float: left;
  padding: 50px;
}

.skill-list {
  margin-top: 10px;
}

.ed {
  float: left;
  padding: 50px;
}

.project {
  float: left;
  padding: 50px;
}

.footer {
  color: #3e497a;
  background-color: #fdebf7;
  text-align: center;
  padding: 10px;
}
